<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="stylesheet" href="/css/chat.css">
    <script src="/js/resources/sprint.js"></script>
    <script src="socket.io.js"></script>
    <script type="text/javascript" src="/js/controllers/c_scripts.js"></script>
    <title>ReChainBot Mobile Options</title>
  </head>
  <body>
    <app>
      <messages>
        <topped></topped>
      </messages>
      <bar-nav>
        <option-control id="changeChroma"><img src="../library/image/switch.svg" alt=""></option-control>
      </bar-nav>
    </app>
  </body>
</html>
