<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ReChainBot</title>
    <link rel="stylesheet" href="../library/css/header.css">
    <link rel="stylesheet" href="../library/css/barOptions.css">
    <link rel="stylesheet" href="../library/css/quiet.css">
    <script src="./../library/js/resources/sprint.js"></script>
  </head>
  <body>
    <header>
      <logo><img src="../library/image/logo.png" alt="Logo"></logo>
      <title-app>ReChainBot</title-app>
      <version-app>Alpha v0.0.9</version-app>
    </header>
    <options-menu>
      <email>📧</email>
      <minimize-app>─</minimize-app>
      <close-app>X</close-app>
    </options-menu>
    <app>
      <bar-nav>
        <option-control><a href="./index.html"><img src="../library/image/control-chat.svg" alt=""></a></option-control>
        <option-control><a href="./quiet.html"><img src="../library/image/quiet.svg" alt=""></a></option-control>
        <option-control><a href="./networks.html"><img src="../library/image/networks.svg" alt=""></a></option-control>
      </bar-nav>
      <main>
        <form class="" action="" method="post">
          <input type="checkbox" name="" value=""/><span>Prueba</span>
        </form>
      </main>
    </app>
  </body>
</html>
