@font-face {
    font-family: 'SourceSansPro-Black';
    src: url('../fonts/SourceSansPro-Black.ttf');
}
@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('../fonts/SourceSansPro-Regular.ttf');
}
@font-face {
    font-family: 'SourceSansPro-Bold';
    src: url('../fonts/SourceSansPro-Bold.ttf');
}
@font-face {
    font-family: 'SourceSansPro-SemiBold';
    src: url('../fonts/SourceSansPro-SemiBold.ttf');
}
body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    background: #00430A;
}
h1, h2, h3, h4, div, section, p, ul, li, a, article {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: calibri;
    color: #151515;
    text-decoration: none;
}

/* HEADER */
header {
    height: 50px;
    width: 80%;
    display: flex;
    flex-flow: row;
    color: #696969;
    -webkit-app-region: drag;
    position: relative;
    float: left;
}
logo {
    margin-right: 1em;
}
title-app {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 2em;
    font-family: 'SourceSansPro-Black';
}
version-app {
    height: 100%;
    width: 100%;
    padding-left: 0.5em;
    display: flex;
    align-items: flex-end;
    position: relative;
    bottom: 10px;
    font-family: 'SourceSansPro-Regular';
}
app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
}
options-menu {
    height: 50px;
    width: 20%;
    display: flex;
    font-family: 'SourceSansPro-Black';
    font-size: 2em;
    color: #696969;
}
minimize-app,
close-app {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 999;
    cursor: pointer;
}

/* MESSAGES */

messages {
    height: 600px;
    width: 100%;
    overflow-x: hidden;
    position: fixed;
    top: 3em;
}
topped {
    content: '';
    height: 245px;
    width: 100%;
    display: flex;
}
messages::-webkit-scrollbar
{
	width: 0px;
}
/*messages::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
messages::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}
messages::-webkit-scrollbar-thumb
{
	background-color: #F90;
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}*/
message-content {
    min-height: 2em;
    width: 400px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    position: static;
    z-index: 2;
}
message-content:hover {
    background: rgba(0,0,0,0.5);
    cursor: pointer;
}
message-time {
    margin-left: 0.5em;
    display: flex;
    float: left;
    margin-right: 1em;
    color: #FFFFFF;
    font-family: 'SourceSansPro-SemiBold';
}
message-user {
    width: 75%;
    border-left: 3px solid black;
    padding-left: 1em;
    margin-right: 5%;
    font-family: 'SourceSansPro-SemiBold';
}
message-user > b {
    display: flex;
    font-family: 'SourceSansPro-Black';
}
message-user > span {
    display: flex;
}
message-id {
    width: 15%;
    display: flex;
    border-left: 1px solid black;
    color: #FFFFFF;
    font-family: 'SourceSansPro-SemiBold';
    justify-content: center;
}
