@font-face {
    font-family: 'SourceSansPro-Black';
    src: url('../fonts/SourceSansPro-Black.ttf');
}
@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('../fonts/SourceSansPro-Regular.ttf');
}
@font-face {
    font-family: 'SourceSansPro-Bold';
    src: url('../fonts/SourceSansPro-Bold.ttf');
}
@font-face {
    font-family: 'SourceSansPro-SemiBold';
    src: url('../fonts/SourceSansPro-SemiBold.ttf');
}
body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
    background: #e4e4e4;
    overflow-y: hidden;
    overflow-x: hidden;
}
h1, h2, h3, h4, div, section, p, ul, li, a, article {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: calibri;
    color: #151515;
    text-decoration: none;
}

/* HEADER */
header {
    height: 50px;
    width: 550px;
    background: #b2b2b2;
    display: flex;
    flex-flow: row;
    color: #696969;
    -webkit-app-region: drag;
}
logo {
    margin-right: 1em;
}
title-app {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 2em;
    font-family: 'SourceSansPro-Black';
}
version-app {
    height: 100%;
    width: 100%;
    padding-left: 0.5em;
    display: flex;
    align-items: flex-end;
    position: relative;
    bottom: 10px;
    font-family: 'SourceSansPro-Regular';
}
app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row;
}
bar-nav {
    min-height: 550px;
    width: 112px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background: #cbcbcb;
}
bar-nav > option-control {
    margin: 1em 0 1em 0;
}
legend {
    text-align: center;
}
option-control > a > img {
    height: 64px;
    width: 64px;
    display: flex;
    opacity: 0.4;
    cursor: pointer;
}
main {
    min-height: 550px;
    min-width: 688px;
    display: flex;
    flex-flow: column;
    background: #cbcbcb;
}
configure {
    min-width: 100%;
    display: flex;
    background: #cbcbcb;
}
options-menu {
    height: 50px;
    background: #b2b2b2;
    display: flex;
    justify-content: flex-end;
    font-family: 'SourceSansPro-Black';
    font-size: 2em;
    color: #696969;
    position: absolute;
    top: 0;
    right: 0;
}
email {
    margin-right: 100px;
}

email,
minimize-app,
close-app {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 999;
    cursor: pointer;
}
