/* MESSAGES */

messages {
    height: 550px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
topped {
    content: '';
    height: 245px;
    width: 100%;
    display: flex;
}
messages::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
messages::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}
messages::-webkit-scrollbar-thumb
{
	background-color: #F90;
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}
message-content {
    min-height: 2em;
    width: 395px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    position: static;
    z-index: 2;
}
message-time {
    margin-left: 0.5em;
    display: flex;
    float: left;
    margin-right: 1em;
    font-family: 'SourceSansPro-SemiBold';
}
message-user {
    width: 75%;
    border-left: 3px solid #000000;
    padding-left: 1em;
    font-family: 'SourceSansPro-SemiBold';
}
message-user > b {
    display: flex;
    float: flex;
    font-family: 'SourceSansPro-Black';
}
message-user > span {
    display: flex;
}

control-volume-panel {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.control-volume-panel {
    width: 60%;
}
control-volume {
    width: 100%;
    display: flex;
    flex-flow: column;
    font-family: 'SourceSansPro-Regular';
    font-size: 1.5rem;
}
control-text {
    color: #4a4a4a;
}
volume-view {
    color: #4a4a4a;
    font-size: 30pt;
    margin-left: 1em;
}
#volume-bar { margin: 0; display: flex; width: 100%;height:2em;}
#volume-bar[type=range]::-webkit-slider-thumb  {
  -webkit-appearance: none;
  border: 1px solid #000000;
  padding: 1em;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -8px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}
#volume-bar[type=range]::-webkit-slider-runnable-track {
  height: 1em;
  cursor: pointer;
  border-radius: 1.3px;
  background: #3c3c3c;
}

/* READ LAST MESSAGE */
read-last-message {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    font-family: 'SourceSansPro-Regular';
    margin-top: 6em;
}
read-last-message-text {
    color: #4a4a4a;
    font-size: 1.5rem;
}
read-last-message-stated {
    width: 10em;
    text-align: center;
    border-radius: 1em;
    font-size: 1.2rem;
    cursor: pointer;
    color: #e4e4e4;
    background: #721920; /*#089040*/
    margin-left: 1.5em;
}
search-id {
    display: flex;
}
search-id > input {
    height: 2em;
    width: 2em;
    opacity: 0.5;
    font-family: 'SourceSansPro-SemiBold';
    font-size: 16pt;
    text-align: center;
    margin: 0;
    padding: 0;
}
